.Landing {
  text-align: center;
}

.landing-group {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #141c3a;

    .arrow {
      position:absolute;
      bottom: 0;
      animation-name: bounce;
      animation-duration: 0.7s;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(
        0.1, -0.6, 0.1);
      animation-iteration-count: infinite;
      -webkit-animation-name: bounce;
      -webkit-animation-duration: 0.7s;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: cubic-bezier(
        0.1, -0.6, 0.1);
      -webkit-animation-iteration-count: infinite;
    }

    @keyframes bounce {
      from {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
      }
      to {
          -webkit-transform: translate3d(0, -25px, 0);
          transform: translate3d(0, -25px, 0);
      }
    }

    .hidden {
      visibility: hidden;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


.landing-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .landing-logo {
    width: 4rem;
    height: 4rem;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin: 14px 0px;
  }
  
}

.title {
  margin: 0;
}

// @media (max-width: 1024px) {
//   .Landing {
//     // border: solid pink 3px;
//     // max-width: fit-content;
//   }
// }

@media (max-width: 992px) {
  .Landing {
    .arrow {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 600px) {
  .Landing {
    // border: solid yellow 3px;

    .arrow {
      margin-bottom: 10px;
    }

    .landing-logo {
      width: 3rem;
      height: 3rem;
  
    }

    .name {
      font-size: 3rem;
      margin: 14px 0px;
    }

    .title {
      font-size: 16px;
    }
  
  }
}